# Functions
<a id='sec_functions'></a>

Una función es un bloque de código que realiza una tarea específica y puede ser llamada desde otras partes de un programa. Tiene la siguiente sintaxis:

In [1]:
def function_name(parameters):
    """docstring"""
    # code here
    pass

Aquí un ejemplo

In [20]:
def greet(name):
    """This function greets the person passed in as a parameter."""
    print("Hello, " + name + ". How are you?")
    # print(f"Hello, {name}. How are you?")

In [19]:
greet("John") 
greet("Mary")

Hello, John. How are you?
Hello, Mary. How are you?

A continuación, un ejemplo: La instrucción return se utiliza para salir de una función y devolver un valor al invocador.

Syntax: return [expression]

In [22]:
def multiply(num1, num2):
    """This function multiplies two numbers and returns the result."""
    return num1 * num2

In [23]:
result = multiply(2, 5)
print(result)

10

**Nota**: En Python, no es un error si la ruta de ejecución de una función no incluye un valor. En esos casos, la función devuelve None.

In [25]:
def no_return():
    a = "what?"
    
result = no_return()
print(result)

None

Los parámetros predeterminados se utilizan para asignar un valor predeterminado a un parámetro si no se proporciona ningún valor al llamar a la función.

Syntax: def function_name(parameter1, parameter2=default_value):

In [31]:
def greet(name, greeting="Hello"):
    print(greeting, name)

In [35]:
greet("John")
greet("Mary", "Hi")

Hello John
Hi Mary

Los argumentos de palabra clave se utilizan para especificar el nombre del parámetro que se pasa a la función, lo que permite pasar los parámetros en cualquier orden.|

Syntax: 

def function_name(parameter1, parameter2):
    
function_name(parameter2=value2, parameter1=value1)

In [39]:
def greet(name, greeting):
    print(greeting, name)
    
greet(greeting="Hello", name="John")
greet(name="Mary", greeting="Hi")

Hello John
Hi Mary

Los argumentos de longitud variable permiten que una función acepte cualquier cantidad de argumentos, que se pasan como una tupla.

Syntax: def function_name(*args):

In [44]:
def variable_params(*args):
    print(args)

variable_params(2, 3, 4)
variable_params(3.14, [2,3,45])

(2, 3, 4)
(3.14, [2, 3, 45])

Si se proporcionan otros parámetros en la definición de la función, se completan antes de recopilar los parámetros variables.

In [46]:
def var2(a, b, *args):
    print(a, b, args)

var2(3, 4, 5, 6)
var2(3, 4)

3 4 (5, 6)
3 4 ()

Esta opción permite crear métodos 'más inteligentes'

In [49]:
def calculate_average(*args):
    total = 0
    for a in args:
        total += a
    return total / len(args)

print(calculate_average(2, 4, 6))
print(calculate_average(5, 9, 12.3, 24.5, 8))

4.0
11.76

Se puede pasar un número variable de parámetros con nombre a una función, que se capturan en un diccionario. Por ejemplo:

In [51]:
def print_details(**kwargs):
    for key, value in kwargs.items():
        print(key, ":", value)
        
print_details(name="Peter", age=23, gender="Female")

name : Peter
age : 23
gender : Female

Se puede utilizar cualquier combinación de tipos de parámetros en conjunto

In [52]:
def mixed(a, b, *args, **kwargs):
    print(a, b)
    print(args)
    print(kwargs)

mixed(2, 3)

2 3
()
{}

In [53]:
mixed(2, 3, 4, 5)

2 3
(4, 5)
{}

In [12]:
mixed(2, 3, ap=23, ot='hen')

2 3
()
{'ap': 23, 'ot': 'hen'}

In [13]:
mixed(2, 3, 4, 5, ap=23, ot='hen')

2 3
(4, 5)
{'ap': 23, 'ot': 'hen'}

## Desestructuración al llamar a métodos

In [54]:
def add(a, b):
    return a + b

add(2, 3)

5

In [55]:
params = (2, 3)
add(*params)

5

Muy similar con parámetros nombrados

In [56]:
def repeat(ch, times):
    return ch * times

repeat('*', 10)

'**********'

In [17]:
params = {'ch': '*', 'times': 10}
repeat(**params)

'**********'

In [18]:
# A fancy-looking way of creating dictionaries
params = dict(ch='/', times=12)
repeat(**params)

'////////////'

In [57]:
# All dictionary parameters are expected to be in the function header
params = dict(times=10, ch='*', age=23)
repeat(**params)

TypeError: repeat() got an unexpected keyword argument 'age'

# Solved Exercises

**Exercise**. Write a function to calculate the area of a circle.

In [58]:
def circle_area(radius):
    return 3.1415 * radius**2

circle_area(2)

12.566

**Exercise**. Write a function to calculate the volume of a cylinder.
- Note: Use the previous function

In [59]:
def cylinder_volume(radius, height):
    return circle_area(radius) * height

cylinder_volume(2, 10)

125.66000000000001

**Exercise**. Function to sum all elements in a list

In [ ]:
def sum_list(lst):
    result = 0
    for element in lst:
        result = result + element
    return result

sum_list([2, 3, 4, 7])

a) Modify it by allowing to concatenate strings and sequences
- Hint: Pass a parameter for default value

In [ ]:
def sum_list(lst, default=0):
    result = default
    for element in lst:
        result = result + element
    return result

sum_list(['the ', 'cat ', 'is uggly'], '')

Note: A better option is to use the first element for initializing result

In [ ]:
def sum_list(lst):
    if len(lst) == 0:
        return []
    result = lst[0]
    for element in lst[1:]:
        result = result + element
    return result

sum_list([(2, 3,4), (3, 4, 5, 6), (3, 7)])

**Exercise**. Function to sum all elements in a list. The list can contain other sublists, which need to be summed as well.
- Tip: type(l)==list returns True if the element is a list

In [60]:
def sum_nested_list(lst):
    result = 0
    for element in lst:
        if type(element) == list:
            result += sum_nested_list(element)
        else:
            result += element
    return result

sum_nested_list([2, [2, [3, 5, 6]], 4, [5, 6]])

33